/* @media screen and (min-width: 601px) {
    h1 {
        font-size: 15px;
        margin-bottom: 90%;
    }
} */
@media screen and (max-width: 820px) {
   .onimg h1 {
        font-size: 40px;
        margin-bottom: 700px;
        width: 400px;
    }
}
@media screen and (max-width: 820px) {
    .onimg span {
        font-size: 30px;
        margin-bottom: 90%;
    }
}

@media screen and (max-width: 600px) {
    .onimg h1{
        font-size: 20px;
        margin-bottom:500px;
        
        width: 150px;
        /* display: inline; */
    }
}
@media screen and (max-width: 600px) {
    .onimg  span {
        font-size: 15px;
        margin-bottom: 90%;
    }
}
@media screen and (max-width: 400px) {
    .onimg h1 {
        font-size: 17px;
            margin-bottom: 300px;
            width: 150px;
    }
}
@media screen and (max-width: 400px) {
    .onimg span {
        font-size: 13px;
        margin-bottom: 90%;
    }
/* @media only screen and (max-width: 400px) {

    /* For mobile phones: */
    col {
        width: 100%;
    }

} 