:root{
    --primary-color: rgba(0,124,157,0.9);
    --helper-color: rgba(0,160,156,0.9);
    --background-color: rgb(236, 236, 236);
  }
  .dropdown:hover .dropdown-menu {
  display: block;
  }
  .logo {
    height: 50px;
    margin-left: 7px;
  }
  
  .nav-link {
    color: var(--primary-color);
    margin: 0px 7px;
  }
  .nav-link:hover{
    display: block;
    color: white;
    background-color: var(--primary-color);
  
  }
  .dropdown-menu{
    background-color: var(--background-color);
  }